/* styles.css */
.AccordionContent {
   
    overflow: hidden;
  }
  .AccordionContent[data-state='open'] {
    
    animation: slideDown 300ms ease-out;
  }
  .AccordionContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }
  
  @keyframes slideDown {
    from {
        
      height: 0;
    }
    to {
   
      height: var(--radix-accordion-content-height);
    }
  }
  
  @keyframes slideUp {
    from {
     
      height: var(--radix-accordion-content-height);
    }
    to {
        
      height: 0;
    }
  }
  