---
import "../../style/global.css";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import TheoHeaderImage from "../../components/theo-header-image.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const siteTitle = "Theo's Blog";
const description = "Thought dumps and nerdy stuff";

// Data Fetching: List all Markdown posts in the repo.

const allPosts = await Astro.glob("../../content/posts/*.md");
const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);

const BaseLayoutClassNames = {
  html: 'bg-theo-purple/40',
};
---

<BaseLayout title={siteTitle} description={description} classNames={BaseLayoutClassNames}>
  <div class="absolute right-0 z-10 p-4 text-right text-xl font-bold *:text-black">
    <a href="https://www.youtube.com/@t3dotgg">Youtube</a>
    <br />
    <a href="https://x.com/theo">Twitter</a>
    <br />
    <a href="/links">More</a>
  </div>
  <div class="bg-[url(/images/bg-texture.png)] flex h-full w-full flex-col items-center">
    <div class="mt-8 w-48"><TheoHeaderImage /></div>
    <h1 class="pt-2 text-4xl font-bold">Theo's Blog</h1>
    <h2 class="px-8 text-center text-xl xl:px-0">
      I write about tech and content creation. It usually goes to Twitter.
      Sometimes it goes here instead :)
    </h2>
    <div
      class="grid w-full grid-cols-1 gap-4 p-4 lg:grid-cols-2 lg:p-8 xl:gap-8"
    >
      {sortedPosts.map((p) => <BlogPostPreview post={p} />)}
    </div>
  </div>
</BaseLayout>
