---
import BaseLayout from "../layouts/BaseLayout.astro";

const siteTitle = "404 Not Found";
const description = "Page not found";

const BaseLayoutClassNames = {
  html: 'h-screen min-h-full',
  body: 'size-full',
};
---

<BaseLayout title={siteTitle} description={description} classNames={BaseLayoutClassNames}>
  <div class="absolute top-4 left-4">
    <a
      href="/"
      class="rounded-sm px-4 py-2 text-sm transition-colors hover:bg-black/60 hover:text-white"
    >
      ← Go Home
    </a>
  </div>
  <div class="flex h-full w-full items-center justify-center">
    <div class="flex flex-col justify-center text-center text-6xl font-bold">
      <div>404</div>
      <div class="text-xl font-light text-black">(Page Not Found)</div>
    </div>
  </div>
</BaseLayout>
