---
import "../style/global.css";

const siteTitle = "FAQ - Questions Theo Is Tired Of Answering";
const description = "Y'all ask some dumb stuff so I put answers to all of it here";
---

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@t3dotgg" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://t3.gg/images/twitter.png" />
  <title>{siteTitle}</title>
  <meta name="theme-color" content="#000000" />

  <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"></script>
</head>

<body class="w-full flex justify-center">
  <main class="max-w-2xl text-gray-800 relative flex flex-col items-center py-8">
    <div class="flex flex-col items-center text-center w-full">
      <h1 class="text-4xl font-bold pt-2">Theo's FAQ</h1>
      <h2 class="text-2xl">
        Stop asking me dumb shit
      </h2>
      <div class="text-xl italic">
        Navigate this page by reading it or CMD+F for the thing you want to ask
      </div>
    </div>
    <div class="py-2"></div>
    <div class="text-xl flex flex-col links w-full">

      <h4 class="font-bold pt-4" id="flutter">Do you recommend Flutter?</h4>
      <div>No.</div>

      <h4 class="font-bold pt-4" id="editor">What editor do you use?</h4>
      <div>VS Code.</div>

      <h4 class="font-bold pt-4" id="theme">What theme do you use in VS Code?</h4>
      <div>Poimandres theme.</div>

      <h4 class="font-bold pt-4" id="theme">What program do you use for your diagrams?</h4>
      <div><a href="https://excalidraw.com/">Excalidraw</a>.</div>

      <h4 class="font-bold pt-4" id="plugins">What plugins do you use in your editor?</h4>
      <div>Nothing special.</div>

      <h4 class="font-bold pt-4" id="improvement">How do I get better at programming?</h4>
      <div>Build shit.</div>

      <h4 class="font-bold pt-4" id="solid">What are your thoughts on Solid?</h4>
      <div>Pretty cool.</div>

      <h4 class="font-bold pt-4" id="angular">What are your thoughts on Angular?</h4>
      <div>Pretty bad.</div>

      <h4 class="font-bold pt-4" id="other-frameworks">What are your thoughts on Vue/Svelte/Marko/Quik?</h4>
      <div>I don't think about them too much.</div>

      <h4 class="font-bold pt-4" id="languages">What languages do you code in?</h4>
      <div>Typescript.</div>

      <h4 class="font-bold pt-4" id="other-languages">What OTHER languages do you code in?</h4>
      <div>Typescript.</div>

      <h4 class="font-bold pt-4" id="elixir">...seriously?</h4>
      <div>I wrote some Elixir back in the day.</div>

      <h4 class="font-bold pt-4" id="typescript">Why do you like Typescript?</h4>
      <div>It's like JS but easier.</div>

      <h4 class="font-bold pt-4" id="javascript">Why don't you like Javascript?</h4>
      <div>It's like TS but harder.</div>

      <h4 class="font-bold pt-4" id="new-project">What should I use to start a new project?</h4>
      <div><a href="https://init.tips">init.tips</a>.</div>

      <h4 class="font-bold pt-4" id="ping-stack">What stack does Ping.gg use?</h4>
      <div><a href="https://init.tips">init.tips</a>.</div>

      <h4 class="font-bold pt-4" id="sure-about-flutter">Are you sure you don't like Flutter?</h4>
      <div><a href="https://www.youtube.com/watch?v=RNo1v8DPWk4">Yes</a>.</div>

      <h4 class="font-bold pt-4" id="sure-about-flutter">Are you REALLY sure? I heard Flutter is faster than React
        Native.</h4>
      <div><a href="https://thomasmiddel.medium.com/flutter-its-poor-ios-performance-84ec1eacd235">Yes</a>. I am <a
          href="https://github.com/flutter/flutter/issues/76180">quite certain</a>.</div>

      <div class="py-4" />
    </div>
  </main>
  <style>
    .links a {
      @apply py-2 my-1 text-blue-800;
    }
  </style>
</body>

</html>