---
import "../style/global.css";

const siteTitle = "T3 Tools";
const description = "We build things for creators.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main class="w-full h-full special-height text-gray-800 relative">
      <div class="absolute right-0 top-0 p-4 z-10 text-xl font-bold text-right">
        <a href="https://discord.gg/usjCgjJHNT">Discord</a>
        <br />
        <a href="https://twitter.com/t3dotgg">Twitter</a>
        <br />
        <a href="/blog">Blog</a>
      </div>
      <div class="flex flex-col items-center overflow-visible">
        <div
          class="flex flex-col justify-center items-center pt-2 pb-16 px-4 w-full h-[40vh] animated-bg relative">
          <img
            src={"/assets/t3-text-block.svg"}
            class="rounded-xl z-10 h-full"
            alt="T3 Tools logo" />
          <div class="absolute w-full h-24 bottom-0 bg-blend z-0"></div>
        </div>
        <div class="pt-8"></div>

        <div class="flex flex-col justify-center max-w-2xl px-4 md:max-w-5xl ">
          <h2 class="text-4xl font-medium text-center">
            We Build Creator Tools
          </h2>
          <div class="pt-8"></div>
          <a href="https://round.t3.gg">
            <div
              class="bg-gray-800 p-4 rounded-xl flex flex-col justify-center items-center text-gray-200">
              <img
                src={"/assets/Round Text Logo.svg"}
                class="rounded-xl"
                alt="T3 Tools logo"
                width={200} />
              <div class="pt-4"></div>
              <p class="text-center">
                The best way to have multiple people on your stream.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="absolute w-full bottom-0 flex justify-center py-4 text-xl">
        <span>Created by <a href="/me">Theo</a></span>
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    background-color: #e8dcff;
    height: 100%;
  }
  .bg-blend {
    background-image: linear-gradient(
      to top,
      rgba(232, 220, 255, 1) 0%,
      rgba(232, 220, 255, 0.3) 50%,
      rgba(232, 220, 255, 0.15) 65%,
      rgba(232, 220, 255, 0.075) 75.5%,
      rgba(232, 220, 255, 0.037) 82.85%,
      rgba(232, 220, 255, 0.019) 88%,
      rgba(232, 220, 255, 0) 100%
    );
  }
  .animated-bg {
    background-image: url(/assets/animated-bg.svg);
    background-size: cover;
    margin-top: -20px;
  }
  .special-height {
    min-height: -webkit-fill-available;
  }
</style>
