---
import Tour from '../components/Tour.astro';

import "../style/global.css";

let title = 'My Astro Site';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>
<body>
    <main>
        <div class="bg-gray-600 bg-opacity-50">
        <div class="flex flex-col items-center min-h-screen animate-fade-in-down text-gray-800 relative">
          <div
            class="flex flex-col justify-center items-center py-8 px-4 w-full shadow-xl bg-gray-900 bg-gradient-to-tr from-gray-900 to-gray-800 text-gray-200"
            style={{ fontFamily: "Inter" }}
          >
            <img
              src={"/assets/t3-block.svg"}
              class="rounded-xl"
              alt="T3 Tools logo"
            />
            <div class="text-4xl mt-4 font-medium text-center">
              Welcome to T3 Tools
            </div>
            <p class="text-gray-400">
              Built by{" "}
                <a href="/me">Theo</a>
            </p>
          </div>
          <div class="pt-8" />

          <div class="flex flex-col justify-center max-w-2xl px-4 md:max-w-5xl ">
            <h2 class="text-4xl font-medium text-center">
              We Build Things For Creators
            </h2>
            <div class="pt-4" />
            <a href="https://round.t3.gg">
              <div class="bg-gray-800 p-4 rounded-xl flex flex-col justify-center items-center text-gray-200">
                <img
                  src={"/assets/Round Text Logo.svg"}
                  class="rounded-xl"
                  alt="T3 Tools logo"
                  width={200}
                />
                <div class="pt-4" />
                <p class="text-center">
                  The best way to have multiple people on your stream.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </main>
</body>
</html>
