---
import "../style/global.css";
const siteTitle = "Theo Browne - T3 Stack, Ping.gg, YouTuber";
const description =
  "Theo is known for a few things. Creator of the T3 Stack. CEO of Ping.gg. Alum of Twitch, Y Combinator and RPI. Your Favorite Dev's Favorite Youtuber.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body
    class="min-h-screen bg-gradient-to-b from-gray-900 via-[#300171] to-slate-900"
  >
    <main>
      <div class="absolute right-0 z-10 p-4 text-xl font-bold text-right">
        <a class="text-black" href="https://www.youtube.com/@t3dotgg">Youtube</a
        >

        <br />
        <a class="text-black" href="https://twitter.com/t3dotgg">Twitter</a>
        <br />
        <a class="text-black" href="/blog">Blog</a>
      </div>
      <div class="flex w-full justify-center">
        <div class="p-4 max-w-lg w-48 md:w-96">
          <h1 class="text-2xl title">Theo - t3.gg</h1>

          <p>I'm a dev, CEO and YouTuber.</p>
          <p>Check out...</p>

          <h3 class="text-xl font-bold">Create T3 App</h3>
        </div>
      </div>
    </main>
  </body>

  <style>
    .title {
      font-family: "Inter", sans-serif;
    }
  </style>
</html>
