---
import "../style/global.css";
const siteTitle = "Theo Browne - T3 Stack, Ping.gg, YouTuber";
const description =
  "Theo is known for a few things. Creator of the T3 Stack. CEO of Ping.gg. Alum of Twitch, Y Combinator and RPI. Your Favorite Dev's Favorite Youtuber.";

import T3SVG from "../components/t3.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-[#300171] to-gray-900">
    <main>
      <div class="absolute right-0 z-10 p-4 text-right text-xl font-bold">
        <a class="text-slate-200" href="https://www.youtube.com/@t3dotgg"
          >Youtube</a
        >

        <br />
        <a class="text-slate-200" href="https://twitter.com/t3dotgg">Twitter</a>
        <br />
        <a class="text-slate-200" href="/blog">Blog</a>
      </div>
      <div
        class="flex h-screen w-full items-center justify-center align-middle p-4 text-slate-200"
      >
        <div class="flex max-w-lg">
          <T3SVG />
          <div class="px-4">
            <h1 class="text-xl font-bold">T3 Stuff</h1>
            <a target="_blank" href="https://create.t3.gg">
              <h3 class="text-lg">Create T3 App</h3>
            </a>

            <h1 class="text-xl font-bold">Theo Stuff</h1>
            <a target="_blank" href="https://t3.gg/faq">
              <h3 class="text-lg">FAQ</h3>
            </a>
            <a target="_blank" href="https://youtube.com/@t3dotgg">
              <h3 class="text-lg">YouTube</h3>
            </a>

            <h1 class="text-xl font-bold">Theo Support</h1>
            <a target="_blank" href="https://patreon.com/t3dotgg">
              <h3 class="text-lg">Patreon</h3>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>

  <style>
    .title {
      font-family: "Inter", sans-serif;
    }
    a {
      @apply text-slate-200;
    }
  </style>
</html>
