---
import "../style/global.css";

import TheoHeaderImage from "../components/theo-header-image.astro";

const siteTitle = "Theo's Links";
const description = "All the places you can find Theo";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main
      class="w-full lg:w-1/2 mx-auto min-h-full text-gray-800 relative flex flex-col items-center pt-8"
    >
      <div class="w-full flex flex-col gap-8 items-center lg:items-start px-4">

        <!-- Header image w/ blur hash svg -->
        <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-8">
          <div class="w-48 xl:w-48"><TheoHeaderImage /></div>

          <div class="h-full flex flex-col justify-around text-center lg:text-left drop-shadow-sm">
            <h1 class="text-4xl font-bold">Theo - t3.gg</h1>
            <h2 class="text-2xl">
              CEO @ <a href="https://ping.gg">Ping Labs (YC W22)</a>
            </h2>
            <h3 class="mt-4 text-lg">
              I like skateboards, code, music and content creation
            </h3>
          </div>
        </div>
        <b class="w-full h-0.5 bg-stone-500/60 rounded"></b>
        <div class="w-full text-xl font-bold text-center flex flex-col justify-between lg:flex-row gap-8 links">
          <div>
            <h2 class="mb-4 text-2xl font-bold">Main Things</h2>
            <div class="grid gap-4 text-blue-800">
              <a href="https://www.youtube.com/c/theobrowne1017">Youtube</a>
              <a href="https://twitter.com/t3dotgg">Twitter</a>
              <a href="https://discord.gg/xHdCpcPHRE">Discord Server</a>
              <a href="https://ping.gg">Ping Labs (ping.gg)</a>
              <a href="/blog">My Blog</a>
            </div>
          </div>
          <div>
            <h2 class="mb-4 text-2xl font-bold">More Things</h2>
            <div class="grid gap-4 text-blue-800">
              <a href="https://www.tiktok.com/@t3dotgg">TikTok</a>
              <a href="https://twitch.tv/Theo">Twitch</a>
              <a href="https://www.instagram.com/fakiebigfoot/">Instagram</a>
              <a href="https://github.com/theobr">Github</a>
              <a href="https://t3.gg">My Site (t3.gg)</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
