---
import TheoHeaderImage from "../components/theo-header-image.astro";
import "../style/global.css";
const siteTitle = "Theo's Links";
const description = "All the places you can find Theo";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main class="relative flex h-full w-full flex-col items-center text-black">
      <div class="flex flex-col items-center px-4 text-center">
        <div class="py-4"></div>

        <!-- Header image w/ blur hash svg -->
        <div class="w-48 xl:w-96"><TheoHeaderImage /></div>

        <h1 class="pt-2 text-4xl font-bold">Theo - t3.gg</h1>
        <h2 class="text-2xl">
          CEO @ <a class="text-black" href="https://ping.gg"
            >Ping Labs (YC W22)</a
          >
        </h2>
        <h4 class="text-xl">
          I like skateboards, code, music and content creation
        </h4>
      </div>
      <div class="py-2"></div>
      <div
        class="links flex flex-col space-y-4 text-center text-xl font-bold text-theo-blue"
      >
        <ul class="text-2xl font-bold text-black">Main Things</ul>
        <li>
          <a href="https://www.youtube.com/@t3dotgg">Youtube</a>
        </li>
        <li>
          <a href="https://www.patreon.com/t3dotgg">Patreon</a>
        </li>
        <li>
          <a href="https://twitter.com/t3dotgg">Twitter</a>
        </li>
        <li>
          <a href="https://discord.gg/xHdCpcPHRE">Discord Server</a>
        </li>
        <li>
          <a href="https://ping.gg">Ping Labs (ping.gg)</a>
        </li>
        <li>
          <a href="/blog" rel="prefetch">My Blog</a>
        </li>
        <ul class="text-2xl font-bold text-black">More Things</ul>
        <li>
          <a href="https://www.tiktok.com/@t3dotgg">TikTok</a>
        </li>
        <li>
          <a href="https://twitch.tv/Theo">Twitch</a>
        </li>
        <li>
          <a href="https://www.instagram.com/fakiebigfoot/">Instagram</a>
        </li>
        <li>
          <a href="https://github.com/t3dotgg">Github</a>
        </li>
        <li>
          <a href="https://t3.gg">My Site (t3.gg)</a>
        </li>
      </div>
    </main>
  </body>
</html>

<style>
  ul,
  li {
    @apply list-none;
  }
  body {
    background-color: rgba(247, 242, 254, 1);
    background-image: url("/images/bg-texture.png");
  }
</style>
