---
import "../style/global.css";

import TheoHeaderImage from "../components/theo-header-image.astro";

const siteTitle = "Theo's Links";
const description = "All the places you can find Theo";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main
      class="w-full h-full text-gray-800 relative flex flex-col items-center"
    >
      <div class="flex flex-col items-center px-4 text-center">
        <div class="py-4"></div>

        <!-- Header image w/ blur hash svg -->
        <div class="w-48 xl:w-96"><TheoHeaderImage /></div>

        <h1 class="text-4xl font-bold pt-2">Theo - t3.gg</h1>
        <h2 class="text-2xl">
          CEO @ <a href="https://ping.gg">Ping Labs (YC W22)</a>
        </h2>
        <h4 class="text-xl">
          I like skateboards, code, music and content creation
        </h4>
      </div>
      <div class="py-2"></div>
      <div class="text-xl font-bold text-center flex flex-col links">
        <div class="text-2xl font-bold">Main Things</div>
        <a href="https://www.youtube.com/c/theobrowne1017">Youtube</a>
        <a href="https://twitter.com/t3dotgg">Twitter</a>
        <a href="https://discord.gg/xHdCpcPHRE">Discord Server</a>
        <a href="https://ping.gg">Ping Labs (ping.gg)</a>
        <a href="/blog">My Blog</a>
        <div class="text-2xl font-bold">More Things</div>
        <a href="https://www.tiktok.com/@t3dotgg">TikTok</a>
        <a href="https://twitch.tv/Theo">Twitch</a>
        <a href="https://www.instagram.com/fakiebigfoot/">Instagram</a>
        <a href="https://github.com/theobr">Github</a>
        <a href="https://t3.gg">My Site (t3.gg)</a>
        <a href="https://t3.gg/faq">Frequently Asked Questions</a>
      </div>
    </main>
    <style>
      .links a {
        @apply py-2 my-1 text-blue-800;
      }
    </style>
  </body>
</html>
