---
import "../style/global.css";

const siteTitle = "Theo Browne - Web Dev and Founder";
const description = "Software developer who worked at Twitch and helped build Turntable. Creator of Round and T3 Tools.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://t3.gg/images/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@t3dotgg" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://t3.gg/images/twitter.png" />
    <title>{siteTitle}</title>

    <script defer data-domain="astro.t3.gg" src="https://t3.gg/js/script.js"
    ></script>
  </head>
  <body>
    <main class="w-full h-full animated-bg">
      <div class="w-full special-height flex justify-center items-center">
        <div class="bg-gray-100 bg-opacity-40 p-4 m-4 rounded shadow-xl">
          <h1 class="font-bold text-2xl pb-4">Hiya</h1>
          <p>{"I'm Theo, and I like to build things"}</p>
          <p>
            {"Founder of T3 Tools"}
          </p>
          <p>
            Alumni of <a href="https://twitch.tv">Twitch</a>{", "}
            <a href="https://tt.fm">Turntable</a>{" and "}
            <a href="https://rpi.edu">RPI</a>
          </p>
          <p>I like skateboards, music, art, and various nonsense</p>
          <p>Check out my...</p>
          <div class="flex flex-col">
            <div>
              -{" "}
              <a href="/blog">Blog</a>
            </div>
            <div>
              - <a href="https://github.com/theobr">Github</a>
            </div>
            <div>
              - <a href="https://twitter.com/t3dotgg">Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    overflow-y: none;
    background-color: #aea5bf;
  }
  .animated-bg {
    background-image: url(/assets/animated-bg.svg);
    background-size: cover;
  }

  .special-height {
    min-height: -webkit-fill-available;
  }
</style>
