---
import "../style/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SponsorGridLayout from "../layouts/SponsorGridLayout.astro";
import { affiliates, sponsors } from "./sponsors.js";
import LeftArrow from "../assets/icons/left-arrow.svg.astro";

const siteTitle = "theo's sponsors";
const description = "all of the brands running ads on my youtube channel";
---

<BaseLayout title={siteTitle} description={description}>
  <header class="flex flex-col gap-2 px-8 pt-4 pb-8">
    <a
      href="/"
      class="flex items-center gap-1 text-sm text-foreground/60 hover:text-foreground hover:underline"
    >
      <LeftArrow />
      back
    </a>
    <h1 class="text-4xl font-semibold">my sponsors</h1>
    <p>here's all the brands that have run ads on my content</p>
    <p class="text-sm font-light text-foreground/60">
      psssst... if you're a brand and want to run an ad on my channel,
      <a href="/sponsor-me" class="text-theo-blue hover:underline">click here</a>
    </p>
  </header>
  <SponsorGridLayout
    heading="affiliates"
    sponsors={affiliates}
    className="pb-16"
  />
  <SponsorGridLayout heading="video sponsors" sponsors={sponsors} />
  <div class="-mb-8 py-24 text-center">
    <p>
      interested in sponsoring theo? learn more <a
        href="/sponsor-me"
        class="text-theo-blue hover:underline">here</a
      >
    </p>
  </div>
</BaseLayout>
