/* source("..") sets base path, so Tailwind CSS scans from `src` instead of `src/style`
   https://tailwindcss.com/docs/detecting-classes-in-source-files#setting-your-base-path */
@import "tailwindcss" source("..");

/* Tailwind CSS Typography plugin + custom CSS overrides */
@plugin "@tailwindcss/typography";
@config "./plugin-configs/tailwindcss-typography.cjs";

/* tailwindcss-safe-area plugin */
@plugin "tailwindcss-safe-area";

@custom-variant system (&:where(:not(html.dark, html.dark *, html.light, html.light *)));
@custom-variant explicit-light (&:where(html.light, html.light *));
@custom-variant explicit-dark (&:where(html.dark, html.dark *));
@custom-variant light {
  &:where(html.light, html.light *) {
    @slot;
  }
  @media (prefers-color-scheme: light) {
    &:where(html:not(.light):not(.dark), html:not(.light):not(.dark) *) {
      @slot;
    }
  }
}
@custom-variant dark {
  &:where(html.dark, html.dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(html:not(.light):not(.dark), html:not(.light):not(.dark) *) {
      @slot;
    }
  }
}

@theme {
  /* custom colors */
  --color-theo-purple: #e8dcff;
  --color-theo-blue: #1f11e4;
  /* override default black and white colors */
  --color-black: #27272a;
  --color-white: #f4f4f5;
  --color-foreground: var(--color-black);
  --color-background: var(--color-white);

  /* custom animations */
  /* https://tailwindcss.com/docs/theme#defining-animation-keyframes */
  --animate-fade-in-down: fade-in-down 0.5s ease-out;
  --animate-fade-in: fade-in 0.2s ease-out;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility bg-texture {
  @apply bg-[url(/images/bg-texture.png)] bg-fixed bg-center bg-repeat dark:bg-[url(/images/bg-texture_dark.png)];
}

:root {
  @variant dark {
    /* override theme-dynamic colors */
    --color-theo-purple: #4e3471;
    --color-theo-blue: #a19af8;
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
  }
}

@layer base {
  body {
    @apply antialiased;
  }
  .bg-blend {
    background-image: linear-gradient(
      to top,
      rgba(232, 220, 255, 1) 0%,
      rgba(232, 220, 255, 0.3) 50%,
      rgba(232, 220, 255, 0.15) 65%,
      rgba(232, 220, 255, 0.075) 75.5%,
      rgba(232, 220, 255, 0.037) 82.85%,
      rgba(232, 220, 255, 0.019) 88%,
      rgba(232, 220, 255, 0) 100%
    );
  }

  .animated-bg {
    background-image: url(/assets/animated-bg.svg);
    background-size: cover;
  }
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f4f4f5;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab;
}

.token.punctuation {
  color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a;
}

.token.boolean,
.token.number {
  color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #ffd700;
}

.token.keyword {
  color: #00e0e0;
}

.token.regex,
.token.important {
  color: #ffd700;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
