/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #746f80;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.no-line-link {
  text-decoration: none !important;
}

.no-line-link:hover {
  text-decoration: underline !important;
}
