---
export interface Props {
  post: any;
}

import { getSlugFromPath } from "../utils/get-slug-from-path";
import { parseISO, format } from "date-fns";

const { post } = Astro.props;
const url = "/blog/post/" + getSlugFromPath(post.file);

const date = parseISO(post.frontmatter.date);
const formattedDate = format(date, "LLLL d, yyyy");
---

<a
  href={url}
  class="group relative flex aspect-video h-auto w-full overflow-hidden rounded-xl bg-theo-purple/80 text-black opacity-100 transition-opacity hover:opacity-70"
  style={`background-image: url(${
    post.frontmatter.imageURL ?? "https://t3.gg/images/social-media.png"
  }); background-size: cover; background-repeat: no-repeat; background-position: center;`}
>
  <div
    class="absolute top-0 max-w-full truncate rounded-br-lg bg-theo-purple/80 p-2 text-lg group-hover:underline md:p-4 md:text-2xl"
  >
    {post.frontmatter.title}
  </div>
  {
    post.frontmatter.description && (
      <div class="absolute bottom-0 flex w-full flex-col justify-center bg-theo-purple/80 p-2 md:p-4">
        <div class="hidden sm:block">{formattedDate}</div>
        <div class="text-md description md:text-xl">
          {post.frontmatter.description}
        </div>
      </div>
    )
  }
</a>

<style>
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
