---
export interface Props {
  post: any;
}

import BlogPostHeader from "./BlogPostHeader.astro";

const { post } = Astro.props;
---

<article class="prose prose-lg lg:prose-xl w-full mb-8 max-w-[40rem]">
  <a href={post.url} class="no-line-link">
    <BlogPostHeader post={post} />
  </a>
  <p>{post.description}</p>
  <a href={post.url}>Read more</a>
</article>
