---
export interface Props {
  post: { title: string; date: string };
}

import { parseISO, format } from "date-fns";

const { post } = Astro.props;

console.log("post in header?", post)

const date = parseISO(post.date);
const formatted = format(date, "LLLL d, yyyy");
---

<div class="lg:w-[42rem] xl:w-[64rem]">
  <h2
    class="m-0 p-0 font-bold"
    style={"margin-block-end: 0; margin-block-start: 1rem;"}
  >
    {post.title}
  </h2>
  <time datetime={date.toString()}>{formatted}</time>
</div>
