---
export interface Props {
  post: any;
}

import BlogPostHeader from "./BlogPostHeader.astro";
import { getSlugFromPath } from "../utils/get-slug-from-path";
import { parseISO, format } from "date-fns";

const { post } = Astro.props;
const url = "/blog/post/" + getSlugFromPath(post.file);

const date = parseISO(post.frontmatter.date);
const formattedDate = format(date, "LLLL d, yyyy");
---

<a href={url} class="no-line-link">
  <div class="w-full">
    <div
      class="flex relative h-48 xl:h-96 aspect-video opacity-70 hover:opacity-100 transition-opacity rounded-xl overflow-hidden"
      style={`background-image: url(${
        post.frontmatter.imageURL ?? "https://t3.gg/images/social-media.png"
      }); background-size: cover; background-repeat: no-repeat; background-position: center;`}
    >
      <div class="bg-color absolute text-2xl p-2 rounded-br-lg">
        {post.frontmatter.title}
      </div>
      {post.frontmatter.description && (
        <div class="absolute bottom-0 w-full flex flex-col justify-center bg-color p-2">
          <div>{formattedDate}</div>
          <div class="text-xl">{post.frontmatter.description}</div>
        </div>
      )}
    </div>
  </div>
</a>

<style>
  .preview-fade {
    background-image: linear-gradient(
      to bottom,
      rgba(247, 242, 254, 0),
      rgba(247, 242, 254, 1) 85%
    );
  }
  .bg-color {
    background-color: rgba(232, 220, 255, 0.8);
  }
</style>
