---
export interface Props {
  post: any;
}

import BlogPostHeader from "./BlogPostHeader.astro";
const { post } = Astro.props;

const { Content } = post;

const url = "/blog/post/" + post.file.split("/").at(-1).replace(".md", "");
---

<article
  class="prose prose-lg lg:prose-xl max-w-none w-full mb-8 lg:w-[42rem] xl:w-[64rem] relative max-h-[600px] overflow-hidden"
>
  <a href={url} class="no-line-link">
    <BlogPostHeader
      post={{ title: post.frontmatter.title, date: post.frontmatter.date }}
    />
  </a>
  <div><Content /></div>
  <div
    class="flex absolute bottom-0 w-full h-[200px] justify-center items-end preview-fade"
  >
    <a class="font-medium no-line-link" href={url}>Continue Reading</a>
  </div>
</article>

<style>
  .preview-fade {
    background-image: linear-gradient(
      to bottom,
      rgba(247, 242, 254, 0),
      rgba(247, 242, 254, 1) 85%
    );
  }
</style>
