---
export interface Props {
  post: any;
}

import BlogPostHeader from "./BlogPostHeader.astro";

const { post } = Astro.props;
---

<article
  class="prose prose-lg lg:prose-xl w-full mb-8 max-w-[40rem] relative max-h-[600px] overflow-hidden">
  <a href={post.url} class="no-line-link">
    <BlogPostHeader post={post} />
  </a>
  <div>{post.astro.html}</div>
  <div
    class="flex absolute bottom-0 w-full h-[200px] justify-center items-end preview-fade">
    <a className="font-medium no-line-link" href={post.url}>Continue Reading</a>
  </div>
</article>

<style>
  .preview-fade {
    background-image: linear-gradient(
      to bottom,
      rgba(247, 242, 254, 0),
      rgba(247, 242, 254, 1) 85%
    );
  }
</style>
