<div class="rounded-full overflow-hidden w-full flex-shrink-0 aspect-square">
  <picture class="z-10">
    <source type="image/webp" srcset="/images/theo.webp" />
    <img src="/images/theo.jpeg" />
  </picture>

  <!-- blur hash svg -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="100%"
    shape-rendering="crispEdges"
    preserveAspectRatio="none"
    viewBox="0 0 4 4"
    style="top: 50%;left: 50%;transform-origin: top left;transform: scale(1.5);right: 0;bottom: 0;filter: blur(40px);"
  >
    <rect fill="rgb(73,59,88)" fill-opacity="1" width="1" height="1" x="0" y="0"
    ></rect>
    <rect
      fill="rgb(112,94,101)"
      fill-opacity="1"
      width="1"
      height="1"
      x="1"
      y="0"></rect>
    <rect fill="rgb(79,65,92)" fill-opacity="1" width="1" height="1" x="2" y="0"
    ></rect>
    <rect fill="rgb(87,70,89)" fill-opacity="1" width="1" height="1" x="3" y="0"
    ></rect>
    <rect
      fill="rgb(104,80,96)"
      fill-opacity="1"
      width="1"
      height="1"
      x="0"
      y="1"></rect>
    <rect
      fill="rgb(186,139,116)"
      fill-opacity="1"
      width="1"
      height="1"
      x="1"
      y="1"></rect>
    <rect
      fill="rgb(123,94,108)"
      fill-opacity="1"
      width="1"
      height="1"
      x="2"
      y="1"></rect>
    <rect fill="rgb(88,66,70)" fill-opacity="1" width="1" height="1" x="3" y="1"
    ></rect>
    <rect fill="rgb(58,46,53)" fill-opacity="1" width="1" height="1" x="0" y="2"
    ></rect>
    <rect fill="rgb(87,66,69)" fill-opacity="1" width="1" height="1" x="1" y="2"
    ></rect>
    <rect fill="rgb(48,37,43)" fill-opacity="1" width="1" height="1" x="2" y="2"
    ></rect>
    <rect fill="rgb(50,39,64)" fill-opacity="1" width="1" height="1" x="3" y="2"
    ></rect>
    <rect fill="rgb(12,12,10)" fill-opacity="1" width="1" height="1" x="0" y="3"
    ></rect>
    <rect fill="rgb(15,17,14)" fill-opacity="1" width="1" height="1" x="1" y="3"
    ></rect>
    <rect fill="rgb(28,25,31)" fill-opacity="1" width="1" height="1" x="2" y="3"
    ></rect>
    <rect fill="rgb(66,52,90)" fill-opacity="1" width="1" height="1" x="3" y="3"
    ></rect>
  </svg>
</div>
