---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogPostHeader from "../../../components/BlogPostHeader.astro";
import { getSlugFromPath } from "../../../utils/get-slug-from-path";

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../../content/posts/*.md");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;
const title = post.frontmatter.title;
const description = post.frontmatter.description;

const BaseLayoutClassNames = {
  html: 'bg-theo-purple/40',
};
---

<BaseLayout {title} {description} classNames={BaseLayoutClassNames}>
  <div class="page flex h-full w-full justify-center">
    <div class="max-w-full px-4 pt-8 lg:w-[42rem] lg:px-0 xl:w-[64rem]">
      <a class="pt-8 text-xl" href="/blog">Theo's Blog</a>
      <article class="prose prose-lg lg:prose-xl max-w-none pb-10">
        <main>
          <BlogPostHeader post={post.frontmatter} />
          <post.Content />
        </main>
      </article>
      <div class="pb-8">
        <a href="/blog">{"<- Back to Theo's blog"}</a>
      </div>
    </div>
  </div>
  <style>
    @reference "../../../style/global.css";
    .page {
      background-image: url("/images/bg-texture.png");
    }
    a :global(a) {
      @apply text-fuchsia-500 text-4xl;
    }
  </style>
</BaseLayout>
