<svg
  width="139"
  height="64"
  viewBox="0 0 139 64"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
  class="fill-text-primary pointer-events-none h-20 w-[43px]"
  data-sentry-element="svg"
  data-sentry-source-file="MobbinLogo.tsx"
  data-sentry-component="MobbinLogo"
  ><title>Mobbin</title><path
    d="M84.3504 64H48.1695V47.315L32.569 63.9989L0 63.9841V29.9515L28.31 0H67.4439V15.9214L82.6881 0H116.593V26.1874H139V64H99.1163V48.208L84.3504 64Z"
    data-sentry-element="path"
    data-sentry-source-file="MobbinLogo.tsx"></path></svg
>
