---
export interface Props {
  content: {
    title: string;
    author: string;
    date: string;
    heroImage: string;
  };
}

import "../style/global.css";
import BlogPostHeader from "../components/BlogPostHeader.astro";
---

<html lang="en">
  <div class="w-full h-full overflow-y-scroll flex justify-center">
    <div class="max-w-[40rem]">
      <article class="prose prose-lg lg:prose-xl">
        <main>
          <BlogPostHeader post={Astro.props.content} />
          <slot />
        </main>
      </article>
    </div>
  </div>
</html>
